<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="API_Automation">
        <classes>
            <class name="TestNG_AllureReport.MultipleTCs_API">

            </class>
        </classes>
    </test>
</suite>